---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Orlando,FL&key=<GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Orlando, FL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Orlando",
                       "short_name" : "Orlando",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orange County",
                       "short_name" : "Orange County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Orlando, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.6143519,
                          "lng" : -81.22977
                       },
                       "southwest" : {
                          "lat" : 28.3479859,
                          "lng" : -81.50790690000001
                       }
                    },
                    "location" : {
                       "lat" : 28.5383355,
                       "lng" : -81.3792365
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.6143519,
                          "lng" : -81.22977
                       },
                       "southwest" : {
                          "lat" : 28.3479859,
                          "lng" : -81.50790690000001
                       }
                    }
                 },
                 "place_id" : "ChIJd7zN_thz54gRnr-lPAaywwo",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 21 Apr 2020 17:01:04 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATER_API_KEY>&lat=28.5383355&lon=-81.3792365&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":28.54,"lon":-81.38,"timezone":"America/New_York","current":{"dt":1587488464,"sunrise":1587466395,"sunset":1587513275,"temp":82.2,"feels_like":81.52,"pressure":1015,"humidity":44,"dew_point":58.14,"uvi":10.19,"clouds":1,"visibility":16093,"wind_speed":5.82,"wind_deg":350,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"rain":{}},"hourly":[{"dt":1587488400,"temp":82.2,"feels_like":80.8,"pressure":1015,"humidity":44,"dew_point":58.14,"clouds":1,"wind_speed":7.07,"wind_deg":289,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587492000,"temp":85.32,"feels_like":82.09,"pressure":1014,"humidity":35,"dew_point":54.59,"clouds":46,"wind_speed":8.21,"wind_deg":288,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1587495600,"temp":87.24,"feels_l[...]
