---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Orlando,FL&key=<GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Orlando, FL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Orlando",
                       "short_name" : "Orlando",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orange County",
                       "short_name" : "Orange County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Orlando, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.6143519,
                          "lng" : -81.22977
                       },
                       "southwest" : {
                          "lat" : 28.3479859,
                          "lng" : -81.50790690000001
                       }
                    },
                    "location" : {
                       "lat" : 28.5383355,
                       "lng" : -81.3792365
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.6143519,
                          "lng" : -81.22977
                       },
                       "southwest" : {
                          "lat" : 28.3479859,
                          "lng" : -81.50790690000001
                       }
                    }
                 },
                 "place_id" : "ChIJd7zN_thz54gRnr-lPAaywwo",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 20 Apr 2020 21:48:46 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATER_API_KEY>&lat=28.5383355&lon=-81.3792365&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":28.54,"lon":-81.38,"timezone":"America/New_York","current":{"dt":1587418872,"sunrise":1587380054,"sunset":1587426839,"temp":85.42,"feels_like":78.39,"pressure":1007,"humidity":40,"dew_point":58.37,"uvi":10.31,"clouds":1,"visibility":16093,"wind_speed":17.22,"wind_deg":270,"wind_gust":27.51,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"rain":{}},"hourly":[{"dt":1587416400,"temp":85.42,"feels_like":78.24,"pressure":1007,"humidity":40,"dew_point":58.37,"clouds":1,"wind_speed":17.49,"wind_deg":265,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587420000,"temp":84.07,"feels_like":79.03,"pressure":1007,"humidity":46,"dew_point":61.07,"clouds":43,"wind_speed":15.46,"wind_deg":270,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1587423600,"temp":81.73,"fee[...]
