---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Orlando,FL&key=<GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Orlando, FL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Orlando",
                       "short_name" : "Orlando",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Orange County",
                       "short_name" : "Orange County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Orlando, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 28.6143519,
                          "lng" : -81.22977
                       },
                       "southwest" : {
                          "lat" : 28.3479859,
                          "lng" : -81.50790690000001
                       }
                    },
                    "location" : {
                       "lat" : 28.5383355,
                       "lng" : -81.3792365
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.6143519,
                          "lng" : -81.22977
                       },
                       "southwest" : {
                          "lat" : 28.3479859,
                          "lng" : -81.50790690000001
                       }
                    }
                 },
                 "place_id" : "ChIJd7zN_thz54gRnr-lPAaywwo",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 21 Apr 2020 05:59:35 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATER_API_KEY>&lat=28.5383355&lon=-81.3792365&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":28.54,"lon":-81.38,"timezone":"America/New_York","current":{"dt":1587448776,"sunrise":1587466395,"sunset":1587513275,"temp":67.8,"feels_like":67.42,"pressure":1012,"humidity":78,"dew_point":60.69,"uvi":10.19,"clouds":1,"visibility":16093,"wind_speed":6.93,"wind_deg":280,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"rain":{}},"hourly":[{"dt":1587445200,"temp":67.8,"feels_like":67.19,"pressure":1012,"humidity":78,"dew_point":60.69,"clouds":1,"wind_speed":7.36,"wind_deg":292,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},{"dt":1587448800,"temp":67.93,"feels_like":67.42,"pressure":1012,"humidity":76,"dew_point":60.1,"clouds":43,"wind_speed":6.76,"wind_deg":292,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},{"dt":1587452400,"temp":67.57,"feels_l[...]
