---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATER_API_KEY>&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","current":{"dt":1587448779,"sunrise":1587384847,"sunset":1587433377,"temp":46.85,"feels_like":37.27,"pressure":1018,"humidity":43,"dew_point":26.29,"uvi":8.05,"clouds":75,"visibility":16093,"wind_speed":9.17,"wind_deg":170,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1587445200,"temp":46.85,"feels_like":40.96,"pressure":1018,"humidity":43,"dew_point":26.29,"clouds":75,"wind_speed":2.59,"wind_deg":100,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},{"dt":1587448800,"temp":49.89,"feels_like":44.02,"pressure":1018,"humidity":34,"dew_point":23.74,"clouds":86,"wind_speed":2.01,"wind_deg":128,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},{"dt":1587452400,"temp":50.94,"[...]
