---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&extras=url_l,url_o&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&sort=relevance&text=denver%20Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":881254,"perpage":1,"total":"881254","photo":[{"id":"49057077877","owner":"82461392@N00","secret":"fa993cd95b","server":"65535","farm":66,"title":"D
        E N V E R","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/49057077877_fa993cd95b_b.jpg","height_l":1024,"width_l":683,"url_o":"https:\/\/live.staticflickr.com\/65535\/49057077877_515f02f67b_o.jpg","height_o":1728,"width_o":1152}]},"stat":"ok"}'
  recorded_at: Tue, 21 Apr 2020 17:58:40 GMT
recorded_with: VCR 5.1.0
