---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&extras=url_l,url_o&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&sort=relevance&text=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":15123,"perpage":1,"total":"15123","photo":[{"id":"49000380512","owner":"97423979@N00","secret":"9632d315ef","server":"65535","farm":66,"title":"Geometric
        Shapes","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/49000380512_9632d315ef_b.jpg","height_l":636,"width_l":1024,"url_o":"https:\/\/live.staticflickr.com\/65535\/49000380512_af6764eaa7_o.jpg","height_o":1242,"width_o":2000}]},"stat":"ok"}'
  recorded_at: Tue, 21 Apr 2020 15:27:20 GMT
recorded_with: VCR 5.1.0
